@model ResultMessage

<div class="row" id="result-message">
    <div class="col-md-12">
        <div class="alert alert-@Model.Type">
            <h4 class="alert-title">@Model.Title</h4>
            <p>@Model.Message</p>
        </div>
    </div>
</div>
