
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="alert alert-danger mb-3" role="alert">
            Bu Alana Erişim Yetkiniz Bulunmamaktadır.
        </div>

        <a href="javascript:history.go(-1)" title="Bir önceki sayfaya geri dön" class="btn btn-primary">Geri Dön</a>
    </div>
</div>

