@model ProductModel
@{
    ViewData["Title"] = "Ürün ekle";
}

@section Scripts{
    <script>
        CKEDITOR.replace("editor");
    </script>
}

<h2>Yeni Ürün Ekle</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateProduct" method="post">
            @await Html.PartialAsync("_productCreateOrUpdate", Model)
        </form>
    </div>
</div>


