@model string 
@{
    ViewData["Title"] = "Ödeme Başarıyla Yapıldı.";
}

<h1 class="text-success">Tebrikler!</h1>
<hr class="mb-4"/>
<div class="row">
    <div class="col-md-1">
        <i class="fas fa-handshake fa-2x"></i>
    </div>
    <div class="col-md-11">
        @Model numarası ile ödeme işleminiz tamamlanmıştır. 
    </div>
</div>

